@media screen and (max-width: 796px) {
  #header {
    display: none;
  }
  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #hamburger-nav .logo {
    font-size: 16px;
    margin-left: 60px;
  }
  #hamburger-nav .hamburger-menu {
    margin-right: 80px;
  }

  #hero {
    height: 90vh;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    text-align: center;
    overflow: hidden;
    margin-bottom: 30px;
  }
  #hero img {
    width: 240px;
    display: block;
    margin: auto;
  }
  .arrow {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}
