@media screen and (max-width: 767px) {
  body {
    width: 100%;
  }
  #header {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  #hamburger-nav .logo {
    font-size: 15px;
    margin-left: 20%;
  }
  #hamburger-nav .hamburger-menu {
    margin-right: 15%;
  }

  #hero {
    height: 600px;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    text-align: center;
  }
  #hero img {
    width: 200px;
    display: block;
    margin: auto;
  }
  #hero .icons {
    font-size: 35px;
  }
  .arrow {
    display: none;
  }
  #esperience {
    margin: 0;
    padding: 0;
  }
  #esperience .interface h2 {
    padding-bottom: 80px;
  }
  #esperience .flex .box {
    width: 100%;
  }
  #esperience .flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .portfolio .portfo-items{
    flex-direction: column;
  }
  .portfolio .portfo-items .item{
    width: 100%;
    margin-block: 20px;
  }
  .portfolio .portfo-items .item:hover{
    transform: scale(1.05) ; 
  }

}

@media screen and (max-width: 500px) {
  #hamburger-nav .logo {
    font-size: 14px;
    margin-left: 30px;
  }
  #hamburger-nav .hamburger-menu {
    margin-right: 30px;
  }
  #esperience .flex .text {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #esperience .flex .box {
    width: 100%;
  }
  .menu-links a {
    font-size: 10px;
  }
  #hero img {
    width: 180px;
    display: block;
    margin: auto;
  }
}

@media only screen and (max-width: 300px) {
  /* Estilos para garantir que não ultrapasse 350px no inspect */
  body {
    width: 100%;
  }
  #hamburger-nav .logo {
    margin-left: 20px;
  }
  #hamburger-nav .hamburger-menu {
    margin-right: 20px;
  }
  #hamburger-nav {
    height: 45px;
  }
  #hero img {
    width: 130px;
    display: block;
    margin: auto;
  }
  #hero .text {
    padding: 10px;
  }
  .menu-links a {
    font-size: 8px;
  }
  #hero h3 {
    font-size: 16px;
  }
  #hero .btn button {
    font-size: 12px;
  }
  #hero .btn {
    padding: 6px;
  }

  #esperience {
    margin: 0;
    padding: 0;
    gap: 0;
  }
  #esperience .interface h2 {
    padding-bottom: 80px;
  }
  #esperience .flex {
    margin: 0;
    padding: 0;
    gap: 0;
  }
  #esperience .flex .text {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
