@media screen and (max-width: 767px) {
  body {
    width: 100%;
  }
  #header {
    display: none;
    overflow: hidden;
  }
  #progress-bar-container {
    display: block;
  }
  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #hamburger-nav .logo {
    font-size: 15px;
    margin-left: 20%;
  }
  #hamburger-nav .hamburger-menu {
    margin-right: 15%;
  }

  #hero {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    text-align: center;
  }
  #hero p {
    padding: 0;
    margin: 0;
  }
  #language-selector_1{
    display: block;
    margin-left: 60%;
    margin-top: 20px;
  }
  #hero .img img {
    margin: auto;

    width: 250px;
  }
  #hero .icons {
    font-size: 35px;
  }
  .arrow {
    display: none;
  }
  #esperience {
    overflow: hidden;
    height: max-content;
    margin-bottom: 30px;
  }
  #esperience .interface h2 {
    padding-bottom: 80px;
  }
  #esperience .flex .box {
    width: 100%;
  }
  #esperience .flex {
    align-items: start;
    justify-content: center;
    width: 100%;
    grid-template-columns: 1fr;
    margin: 0;
  }
  .portfolio {
    padding: 60px 30px;
    overflow: hidden;
    width: 100%;
  }
  .portfolio .portfo-items {
    flex-direction: column;
  }
  .portfolio .portfo-items .item {
    width: 100%;
    margin-block: 20px;
  }
  .portfolio .portfo-items .item:hover {
    transform: scale(1.05);
  }
  #about .container{
    overflow: hidden;
    flex-direction: column;
    height: 60%;
    margin-bottom: 50px;
    margin: auto;
  }
  #about .about_img img {
    margin: auto;
    height: 1%;
    width: 400px;
    padding: 40px;
  }
  #about .about_text {
    width: 400px;
    padding: 10px;
  }
  #about .about_text h3 {
    margin-bottom: 10px;
  }
  #about .about_text p {
    padding: 0;
  }
  #contact .container-col {
    width: 90vw;
  }
  #contact {
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  #contact .container {
    margin: auto;
    padding: auto;
  }
  #footer {
    flex-direction: column;
    height: auto; /* Alterado para 'auto' para acomodar o conteúdo verticalmente */
    padding: 20px; /* Adicionado algum preenchimento para espaçamento interno */
    margin-block: 60px;
    text-align: center; /* Centraliza o conteúdo no eixo horizontal */
  }
  
  #footer p {
    white-space: nowrap;
    margin: auto;
    padding: 5px 0; /* Adicionado algum preenchimento para espaçamento interno */
  }
  
  #footer i {
    margin:0;
    position: none; /* Posiciona o ícone absolutamente em relação ao #footer */
    right: 50%; /* Posiciona o ícone a 20% da margem direita do #footer */
    top: 100%; /* Posiciona o ícone verticalmente no centro do #footer */
    transform: translateY(-50%); /* Corrige a posição vertical para centrar exatamente */
  }
}

@media screen and (max-width: 560px) {
  #hamburger-nav .logo {
    font-size: 14px;
    margin-left: 30px;
  }
  #hamburger-nav .hamburger-menu {
    margin-right: 30px;
  }
  #esperience .flex {
    margin: auto;
    padding: auto;
    grid-template-columns: 1fr;
  }
  #esperience .flex .text {
    margin: auto;
    padding: auto;
  }
  #esperience .flex .box {
    width: 100%;
  }
  .menu-links a {
    font-size: 10px;
  }
  #hero img {
    width: 180px;
    display: block;
    margin: auto;
  }
  #about .about_img img {
    width: 300px;
    margin: auto;
    padding: auto;
    padding: 30px;
  }
  #about .about_text {
    width: 350px;
    font-size: 14px;
    word-spacing: 5px;
    margin: auto;
    padding: auto;
    line-height: 1.3;
  }
  #project .header {
    gap: 0 60px;
  }
  #project .header button{
    width: fit-content;
  }
   .portfolio .portfo-items {
    width: 100%;
    margin: auto;
  }
  #footer{
    flex-direction: column;
  }
  #footer p{
    font-size: 14px;
    text-wrap: wrap;
  }
  #footer i {
    margin:0;
    position: none; /* Posiciona o ícone absolutamente em relação ao #footer */
    right: 45%; /* Posiciona o ícone a 20% da margem direita do #footer */
    top: 100%; /* Posiciona o ícone verticalmente no centro do #footer */
    transform: translateY(-50%); /* Corrige a posição vertical para centrar exatamente */
  }
}

@media only screen and (max-width: 300px) {
  #language-selector_1{
    margin: 0;
  }
  #hero {
    overflow: hidden;
    margin-top: 20px;
    width: 100%;
  }

  #hero .img img {
    width: 130px;
  }
 
  #hero h3 {
    font-size: 16px;
  }
  #hero p {
    font-size: 12px;
  }
  .portgolio{
    gap: 2px;
  }
  #hero .btn button {
    font-size: 12px;
  }
  #hero .btn {
    padding: 6px;
  }
  #project .header {
    gap: 0 20px;
  }
  #contact .inpu_btn button {
    width: 40%;
  }
  #footer i {
    font-size: 27px; /* Corrige a posição vertical para centrar exatamente */
  }
}
