@media screen and (max-width: 767px) {
  body {
    width: 100%;
  }
  #header {
    display: none;
  }
  #progress-bar-container {
    display: block;
  }
  #hamburger-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #hamburger-nav .logo {
    font-size: 15px;
    margin-left: 20%;
  }
  #hamburger-nav .hamburger-menu {
    margin-right: 15%;
  }

  #hero {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;
    text-align: center;
  }
  #hero p {
    padding: 0;
    margin: 0;
  }
  #hero .img img {
    margin: auto;
    margin-top: 100px;
    width: 250px;
  }
  #hero .icons {
    font-size: 35px;
  }
  .arrow {
    display: none;
  }
  #esperience {
    height: max-content;
    margin-bottom: 30px;
  }
  #esperience .interface h2 {
    padding-bottom: 80px;
  }
  #esperience .flex .box {
    width: 100%;
  }
  #esperience .flex {
    align-items: start;
    justify-content: center;
    width: 100%;
    grid-template-columns: 1fr;
  }
  .portfolio {
    width: 100%;
  }
  .portfolio .portfo-items {
    flex-direction: column;
  }
  .portfolio .portfo-items .item {
    width: 100%;
    margin-block: 20px;
  }
  .portfolio .portfo-items .item:hover {
    transform: scale(1.05);
  }
  #about {
    flex-direction: column;
    height: 100%;
    margin-bottom: 50px;
    margin: auto;
  }
  #about .about_img img {
    margin: auto;
    width: 100%;
    height: 20%;
    padding: 100px;
  }
  #about .about_text {
    width: 400px;
    padding: 10px;
  }
  #about .about_text h3 {
    margin-bottom: 10px;
  }
  #about .about_text p {
    padding: 0;
  }
  #contact .container-col {
    width: 90vw;
  }
  #contact {
    margin: 0;
    padding: 0;
  }
  #contact .container {
    margin: auto;
    padding: auto;
  }
  #footer {
    height: 0;
    padding: 0;
    margin-bottom: 40px;
  }
  #footer p {
    overflow: hidden;
    font-size: 14px;
    padding: 0;
    text-wrap: nowrap;
    width: 100%;
    margin: 0;
  }
  #footer i {
    font-size: 30px;
    margin: 0;
  }
}

@media screen and (max-width: 500px) {
  #hamburger-nav .logo {
    font-size: 14px;
    margin-left: 30px;
  }
  #hamburger-nav .hamburger-menu {
    margin-right: 30px;
  }
  #esperience .flex {
    margin: auto;
    padding: auto;
    grid-template-columns: 1fr;
  }
  #esperience .flex .text {
    margin: auto;
    padding: auto;
  }
  #esperience .flex .box {
    width: 100%;
  }
  .menu-links a {
    font-size: 10px;
  }
  #hero img {
    width: 180px;
    display: block;
    margin: auto;
  }
  #about .about_img img {
    width: 400px;
    margin: auto;
    padding: auto;
    padding: 30px;
  }
  #about .about_text {
    width: 400px;
    margin: auto;
    padding: auto;
    line-height: 1.3;
  }
  #about .about_text h3 {
    margin-bottom: 10px;
  }
  #about .about_text p {
    padding: 0;
  }
}

@media only screen and (max-width: 300px) {
  #hamburger-nav .logo {
    margin-left: 20px;
  }
  #hamburger-nav {
    width: 400px;
    height: 45px;
  }
  #hero {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    width: 400px;
  }

  #hero .img img {
    width: 130px;
    display: block;
    margin: auto;
  }
  #hero .text {
    padding: 10px;
  }
  .menu-links a {
    font-size: 8px;
  }
  #hero h3 {
    font-size: 16px;
  }
  #hero .btn button {
    font-size: 12px;
  }
  #hero .btn {
    padding: 6px;
  }

  #esperience .interface h2 {
    padding-bottom: 80px;
  }
  #esperience .flex .text {
    width: 300px;
    margin-left: 20%;
  }
  #about {
    width: 100%;
    margin-left: 20px;
  }
  #about .about_text {
    width: 300px;
    margin-left: 20px;
  }
  #about .about_img img {
    width: 300px;
    margin-left: 20%;
  }
  #project {
    width: 100%;
  }
  .portfolio {
    width: fit-content;
    padding: 0;
  }
  .portfolio .portfo-items .item {
    margin-block: 20px;
  }
  .portfolio .portfo-items {
    width: 100%;
  }

  .portfolio .portfo-items .item:hover {
    transform: scale(1.05);
  }
  #contact {
    width: 400px;
  }
  #footer {
    height: 0;
    padding: 0;
    margin-bottom: 40px;
    width: 400px;
  }
  #footer p {
    overflow: hidden;
    font-size: 14px;
    padding: 0;
    text-wrap: nowrap;
    width: 100%;
    margin: 0;
  }
  #footer i {
    font-size: 30px;

    margin: 0;
  }
}
