
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --span-text: #cb927f;
  --text: #292929;
  --bg-color: #d4d3d1;
  --bg-button: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.section-m1 {
  margin: 50px 0;
}

.section-p1 {
  padding: 40px 50px;
}

.section-p {
  padding: 10px 50px;
}
a {
  color: var(--text);
  text-decoration: none;
  font-family: "Jost", sans-serif;
}
body {
  font-family: "Jost", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}
/* HAMBURGER MENU */

#hamburger-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 70px;
  position: sticky;
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.03),
    0px 4.4px 10px rgba(0, 0, 0, 0.049);
  background-color: var(--bg-button);
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15px;
  width: 25px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 1px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
  text-wrap: nowrap;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links a.active {
  color: var(--span-text);
  font-weight: 500;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 500px;
  opacity: 0.8;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}
#header.sticky{
  background-color: var(--bg-color);
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, .2);
  padding: 16px 16%;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  position: sticky;
  box-shadow: 0px 1.6px 3.6px rgba(0, 0, 0, 0.03),
    0px 4.4px 10px rgba(0, 0, 0, 0.049);
  background-color: var(--bg-button);
  gap: 1.5rem;
  z-index: 999;
}
#header .logo h1 {
  font-weight: 500px;
  font-size: larges;
  margin-right: 40%;
}

#header ul {
  display: flex;
  text-wrap: nowrap;
  list-style: none;
}

#header ul li {
  margin-left: 20px;
}
#header ul li a {
  font-size: 17px;
  text-decoration: none;
  color: var(--secondary-textss);
  width: 0%;
}
#header ul li a:hover,
#header ul li a.active {
  color: var(--span-text);
  width: 0%;
}

#header .navbar a.active {
  color: var(--span-text);
  font-weight: 500;
  content: "";
  display: block;
  border-bottom: 3px solid var(--span-text);
  height: 32px;
  width: 50%;
  transition: 0.4s;
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
  overflow: hidden;
  gap: 60px;
}

#hero .text {
  margin-left: 10%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-wrap: nowrap;

}

#hero .text h2 {
  font-size: 30px;
  margin: 0;
  padding: 0;
}

#hero .btn1 button {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  padding: 0.8em 1.4em;
  margin: 0 0.1em 0.1em 0;
  border: none;
  border-radius: 20px;
  background-color: var(--span-text);
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  transition: all 0.8s;
}
#hero .btn2 button {
  display: inline-block;
  padding: 0.8em 1.4em;
  font-family: "Poppins", sans-serif;
  margin: 0 0.1em 0.1em 0;
  border: none;
  border-radius: 20px;
  background-color: #030303;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  text-align: center;
  transition: 0.3s;
}
#hero .btn2 button:hover {
  border: 2px solid rgb(14, 14, 14);
}
#hero .btn1 button:hover {
  border: 2px solid var(--span-text);
}
#hero .btn2 a {
  color: var(--bg-button);
}
#hero .btn1 a {
  color: var(--bg-button);
}
#hero .btn {
  display: flex;
  gap: 10px;
}
#hero .icons  {
  gap: 20px;
}
#hero .icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 50%;
  transition: all ease-in-out 0.50s;
}

#hero .icons i:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.50s;
}
#hero img {
  width: 300px;
  float: left;
  margin-right: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  animation: anifoto 8s ease-in-out infinite;
  transition: ease-in-out 0.8s; 
  z-index: 99;
}
#hero img:hover {
box-shadow: 0 0 25px #cb927f36,
            0 0 50px #cb927f67,
            0 0 100px #cb927f38;
            transform: scale(1.05) rotate(2deg); /* Adicionando uma rotação de 5 graus */
    border-radius: 10px; /* Adicionando suavização nas bordas */
    filter: saturate(120%); /* Aumentando a saturação da cor em 50% */
    transition: ease-in-out 0.5s;
    animation: anifoto 4s ease-in-out infinite;
}
#hero img:not(:hover) {
  transform: scale(1) rotate(0deg); /* Voltando ao estado normal sem rotação */
  filter: saturate(100%); /* Voltando à saturação normal */
}
#esperience {
  height: fit-content;
}
#esperience h2 {
  text-align: center;
  padding: 40px;
  font-size: 30px;
  padding-bottom: 100px;
}
#esperience .flex {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 50px;
  width: 100%;
  margin: auto;
  border-bottom-left-radius: 6px;
}
#esperience .flex .box {
  width: 30%;
  margin-bottom: 50px;
}
#esperience .flex .box .icon {
  margin-bottom: 20px;
}
#esperience .flex .box img {
  display: block; /* Torna a imagem um elemento de bloco */
  margin: auto;
}
#esperience .flex .text h3 {
  padding: 10px 0;
}
#esperience .flex .text {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#esperience .flex .text p {
  font-size: 14px;
  margin-left: 10px;
  padding: 4px 0;
  line-height: 1.8;
}

#esperience .flex .box img {
  height: 120px;
}

#footer {
  background: linear-gradient(to top, #cb927f 0%, #282936 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--bg-button);
  padding: 40px 100px 0 50px;
  height: 100px;
}

#footer .social-medias {
  margin-bottom: 20px;
}
#footer .social-medias i {
  font-size: 28px;
  /* border: 2px solid #fff; */
  padding: 10px;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}
#about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 40px 100px 100px 50px;
}

#about .about_text{
  width: 500px;
  padding: 15px;
}
#about .about_text h3{
  color: var(--span-text);
}
#about .about_text p{
  padding-top: 20px;
}
.fade-up{
  transition: ease-in-out 2s;
}
#about .about_text button{
  margin-top: 40px;
  display: inline-block;
  padding: 15px;
}
#about .about_text button a {
  z-index: 1;
  font-weight: 500;
  letter-spacing: 2px;
}
.button {
  height: 50px;
  width: 200px;
  position: relative;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid var(--span-text);
  overflow: hidden;
  border-radius: 30px;
  color: #333;
  transition: all 0.5s ease-in-out;
}
.type1::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  background-color: var(--span-text);
  border-radius: 30px;
  visibility: hidden;
  height: 10px;
  width: 10px;
  z-index: -1;
}

.button:hover {
  box-shadow: 1px 1px 50px var(--span-text);
  color: #fff;
  border: none;
}

.type1:hover::after {
  visibility: visible;
  transform: scale(100) translateX(2px);
}

#about .about_img img{
  height: 500px;
  padding: 15px;
}
.portfolio{
  background-color: var(--span-text);
  padding: 110px 85px;
}

.portfolio .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.portfolio .header button{
  background-color: #282936;
  padding: 10px 20px;
  color: #cb927f;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  border: none;
  border-radius: 10px;
}
.portfolio .header button:hover{
  
  transform: scale(1.05) ;
}
.portfolio .header button i{
  font-size: 26px;
}
.portfolio .portfo-items .item:hover{
  transform: scale(1.05) ; 
}

.portfolio .header button a{
  color: #cb927f;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
.portfolio .portfo-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.portfolio .portfo-items .item{
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  box-shadow: 0 5px 32px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.portfolio .portfo-items .item:hover{
  border-color: var(--span-text);
}

.portfolio .portfo-items .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 10px 10px 20px 20px;
}

.portfolio .portfo-items .item .info{
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 20px 32px 42px;
}

.portfolio .portfo-items .item .info p{
  font-size: 13px;
}

.portfolio .portfo-items .item .info a{
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: var(--span-text);
}

.portfolio .portfo-items .item .info a i{
  margin-left: 2px;
  font-size: 16px;
}

@keyframes anifoto {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
}

#progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px; /* Altura da barra de progresso */
  background-color: var(--bg-button);
  z-index: 9999;
}

#progress-bar {
  height: 100%;
  width: 0;
  background-color: var(--span-text); /* Cor da barra de progresso */
}
